---
import MouseFollower from "@/components/MouseFollower.astro";
import img1 from "@/assets/Lightbox/Luke-Miller-img1.jpg";
import img2 from "@/assets/Lightbox/Nik-img2.jpg";
import img3 from "@/assets/Lightbox/Eslie-img3.jpg";
import { getImage, Image } from "astro:assets";
import ImageCarousel from "@/components/ImageCarousel.tsx";
import ColorBackgroundCard from "@/components/ColorBackgroundCard.astro";
import "../globals.css";

const OptImg1 = await getImage({
	src: img1,
	width: 400,
	widths: [img1.width],
	format: "webp",
	alt: "waterfall",
});
const OptImg2 = await getImage({
	src: img2,
	format: "webp",
	width: 400,
	alt: "cherry tree",
});
const OptImg3 = await getImage({
	src: img3,
	format: "webp",
	width: 400,
	alt: "Ocean",
});
const ImgArrayOptimized = [OptImg3, OptImg2, OptImg1];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="w-[100vw] h-[100vh]">
		<section
			class="flex flex-row space-x-20 items-center justify-center h-full">
			<ImageCarousel client:visible imgArrayOpt={ImgArrayOptimized} />
			<ColorBackgroundCard> <MouseFollower /></ColorBackgroundCard>
			<div class="pswp-gallery w-40 h-40" id="my-gallery--individual">
				<a
					href={OptImg1.srcSet.values[0].url}
					data-pswp-width={img1.width}
					data-pswp-height={img1.height}
					target="_blank">
					<Image src={img1} alt="..." width={300} />
				</a>
			</div>
		</section>
	</body>
</html>
<script>
	import PhotoSwipeLightbox from "photoswipe/lightbox";
	import "photoswipe/style.css";

	const lightbox = new PhotoSwipeLightbox({
		gallery: "#my-gallery--individual",
		children: "a",
		pswpModule: () => import("photoswipe"),
	});

	lightbox.init();
</script>
